body {
background-color: lightpink;
}

hr {
  border-style: dotted none none;
  border-color: white;
  border-width: 8px;
  width: 4%;
}

h1 {
color: lightseagreen;
}

h3 {
color: lightseagreen;
}

h2 {
color: lightseagreen;
  }
img {
background-color: lightpink;

}

.kartik {
background-color: lightpink;

}
